@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
}

#root, .app {
    min-height: 100vh;
}

.app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header, main, footer {
    width: min(110ch, calc(100% - 4rem));
    margin-inline: auto;
}